@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 0px #c7dfe2;
  }
  to {
    text-shadow: 0 0 30px #7134c1, 0 0 10px #864dc7;
  }
}

@keyframes jump {
  0%,
  100% {
    top: -8px;
  }
  50% {
    top: 5px;
  }
}
