
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e815'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */